<section>
	<div class="wrapper main-wrapper prelogin-top-wrapper bg-slider">
		<main class="top-main">
			<div class="pre-top-wrapper">
				<div class="top-container">
					<h1 class="top-title">寿司食べたい</h1>
					<p class="top-title-text">今すぐ近くでお寿司を食べよう</p>
					<div class="top-search">
					  <%= form_tag posts_path, :method => 'get', :id => "top-search-form" do %>
				        <%= text_field_tag :search, params[:search], :placeholder => "駅名を入力", :id => "top-search-box" %>
				        <%= submit_tag "検索", :station => nil, :id => "top-search-btn" %>
				      <% end %>
					</div>
				</div>
			</div>
		</main>
	</div>
</section>
<script>
$(function() {
    $('.bg-slider').bgSwitcher({
        images: ['assets/sushi_02.jpg','assets/sushi_04.jpg','assets/sushi_05.jpg'], // 切替背景画像を指定
		interval: 3000, // 背景画像を切り替える間隔を指定 3000=3秒
        loop: true, // 切り替えを繰り返すか指定 true=繰り返す　false=繰り返さない
        shuffle: true, // 背景画像の順番をシャッフルするか指定 true=する　false=しない
        effect: "fade", // エフェクトの種類をfade,blind,clip,slide,drop,hideから指定
        duration: 500, // エフェクトの時間を指定します。
        easing: "swing" // エフェクトのイージングをlinear,swingから指定
    });
});
</script>