.signup-form, .signin-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}



.form-container {
	/*height: 500px;*/
	width: 250px;
	margin: 0 auto;
	padding: 40px;
	border-radius: 5px;
	text-align: left;
	background-color: #FFC679;
}